# Ignore everything:
*

# Except for:
!.gitignore
!.gitattributes
!composer.json
!socker-compose.yml
!setup.sh
!.docker
!.docker/**

# WordPress Theme
!/wp-content
!/wp-content/themes
!/wp-content/themes/odyssey
!/wp-content/themes/odyssey/*
!/wp-content/themes/odyssey/node
!/wp-content/themes/odyssey/node/*
!/wp-content/themes/odyssey/scripts
!/wp-content/themes/odyssey/scripts/*
!/wp-content/themes/odyssey/styles
!/wp-content/themes/odyssey/styles/*

/wp-content/themes/odyssey/*.log