# Ignore everything:
*

# Except for:
!.gitignore
!.gitattributes
!.docker
!composer.json
!socker-compose.yml
!setup.sh

# WordPress Theme
!/wp-content
!/wp-content/themes
!/wp-content/themes/odyssey
!/wp-content/themes/odyssey/**