div.header {
    float: left;
    width: 100%;
    background-color: #333232;
    height: 45px;
}
div.header div.inner {
    width: 1022px;
    margin-left: -511px;
    position: relative;
    left: 50%;
    height: 45px;
    text-transform: uppercase;
    font-size: 13px;
}
div.header div.inner ul {
    height: 45px;
}
div.header div.inner ul.left {
    float: left;
}
div.header div.inner ul.right {
    float: right;
}
div.header div.inner ul li {
    float: left;
    color: #FFF;
    list-style: none;
    height: 45px;
    line-height: 45px;
}
div.header div.inner ul li a {color: #FFF;font-size: 15px;text-decoration: none;}
div.header div.inner ul li span {
    float: left;
    height: 45px;
    line-height: 45px;
}
div.header div.inner ul li dl {float: left;}
div.header div.inner ul li dl dt {float: left;}
div.header div.inner ul li dl dd {float: left;text-indent: 5px;color: #8F8F94;}
div.header div.inner ul li.icon { margin-left: 20px; }

div.banner                  {float: left;width: 100%;position: relative;}
div.banner div.info         {    width: 1022px;
    margin-left: -511px;
    position: relative;
    left: 50%;
z-index: 10;
height: 550px;
 }





div.banner div.info h1      {}
div.banner div.info h1 a    {}
div.banner div.info h2      {}
div.banner div.images       {position: absolute;top: 0;left: 0;width: 100%;height: 550px;overflow: hidden;}
div.banner div.images ul    {float: left;width: 100%;height: 550px;}
div.banner div.images ul li {float: left;width: 100%;height: 550px;}
div.banner div.images ul li img {float: left;width: 100%;position: absolute;bottom: 0;filter: blur(3px);}